[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demoji = "*"
beautifulsoup4 = "*"
install = "*"
html-telegraph-poster = "*"
requests = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
